/*  #region common */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --drop-primary: #b4d0e7;
    --drop-btn: #0061ff;
    --drop-white: #ffffff;
    --drop-dark: #000000;
    --drop-square1: #A3D39A;
    --drop-square2-alterFont: #60092B;
    --drop-square3: #0192CE;
    --drop-square4: #FE1C1D;
    --drop-big-square: #F5F4F4;
    --drop-square5: #D4011F;
    --drop-square7: #0D2580;
    --drop-square8: #FED831;
}

a{
    text-decoration: none;
    color: var(--drop-dark);
}

section{
    padding: 3rem 0;
}

/*  #endregion common */


/*  #region debug */

/* .debug header{
    background-color: red;
} */

/* .debug .title_section{
    background-color: red;
} */

/*  #endregion debug */

/*  #region utility */

.d_flex{
    display: flex;
}

.flex_between{
    justify-content: space-between;
}

.align_items_center{
    align-items: center;
}

.btn{
    background-color: var(--drop-btn);
    padding: 0.3rem 0.5rem;
    color: var(--drop-white);
}

.bg_primary{
    background-color: var(--drop-primary);
}

.container{
    width: 70%;
    margin: auto;
}

.container_sm{
    width: 60%;
    margin: auto;
}

.py_6{
    padding: 3rem 0;
}

.wrap{
    flex-wrap: wrap;
}

/*  #endregion utility */

/* #region header */

header{
    height: 80px;
    position: sticky;
    z-index: 100000000000000000000;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 5px black   ;
}

.left_nav, .right_nav{
    font-size: 12px;
    align-items: center;
    gap: 16px;
}

.left_nav{
    justify-content: flex-start ;
    padding-left: 1rem;
}

.right_nav{
    padding-right: 1rem;
    justify-content: flex-end;
}

/* #endregion header */

/* #region section_1 */

.title{
    width: 100%;
}

.bg_primary section{
    height: 650px;
}

.title h1{
    font-size: 80px;
}

.left_jumbo{
    width: calc(100% / 12 * 4);
    flex-direction: column;
}

.left_jumbo div{
    padding: 1rem 0;
}

.left_jumbo .btn{
    width: fit-content;
}

.left_jumbo i {
    font-size: 60px;
}

.right_jumbo{
    width: calc(100% /12 * 8);
    
}

.right_jumbo img{
    object-fit: fill;
    width: 100%;
}

/* #endregion section_1 */

/* #region section_2 */

.title_section{ 
    width: 100%;
    margin-top: 8rem;
    font-size: 48px;
    margin-bottom: 3rem;
}

.fatturazione{
    font-size: 16px;
    padding: 3rem 1rem;
    display: inline-block;
}

.plan_card{
    width: calc(100% / 12 * 3);
    flex-wrap: wrap;
    border: 1px solid grey;
}

.plan_head{
    font-size: 16px;
    border: 1px solid grey;
    text-align: center;
}

.plan_body{
    flex-direction: column;
    gap: 2rem;
    padding:0 3rem;
}

.plan_body h5{
    padding: 1rem 0;
}

.plan_bot{
    margin-top: 2rem;
    width: 100%;
    border: 1px solid grey;
}


.solution{
    padding: 2rem 0;
}

/* #endregion section_2 */

/* #region section_3 */

.section_3_card{
    align-items: center;
}

.section_3_img{
    width: calc(100% / 12 * 8);
}

.section_3_txt{
    width: calc(100% / 12 * 4);
    padding: 2rem;
}

.section_3_txt h1, .section_3_txt p{
    padding: 1rem;
}

.btn_white{
    background-color: white;
    color: black;
    border: 1px solid;
    margin: 3rem 1rem;
}

/* #endregion section_3 */

/* #region section_4 */

.section_4_head{
    text-align: center;
}

.section_4_cards{
    gap: 4rem;
}

.section_4_card{
    width: calc(100% / 12 * 3);
}

.section_4_card img{
    width: 100%;
}

/* #endregion section_4 */

/* #region section_5 */

.section_5_border{
    margin: auto    ;
}

.section_5_border h1{
    padding: 0.5rem 0;
    font-size: 3rem;
}

.section_5_border a{
    margin: 3rem 0;
    display: block;
}

/* #endregion section_5 */

/* #region section_6 */

#partners{
    padding-bottom: 0;
}

.square{
    width: calc(100% / 12 * 4);
}

.square_logos{
    width: 50%;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}

.square_1{
    background-color: var(--drop-square1);
}

.square_2{
    background-color: var(--drop-square2-alterFont);
}

.square_3{
    background-color: var(--drop-square3);
}

.square_4{
    background-color: var(--drop-square4);
}

.square_5{
    background-color: var(--drop-square5);
}

.square_6{
    background-color: var(--drop-primary);
}

.square_7{
    background-color: var(--drop-square7);
}

.square_8{
    background-color: var(--drop-square8);
}

.square_center img{
    margin: 2rem;
}

.square_center{
    background-color: var(--drop-big-square);
}

.square_logos img{
    width: 50%;
    filter: invert(100%);
}

.square hr{
    margin: 1rem 2rem;
    width: 100px;
}

.square blockquote{
    padding: 2rem;
}

.square .team_member{
    padding:0 2rem;
}

/* #endregion section 6 */

/* #region section 7 */

.faq h4{
    padding: 2rem;
    border-style: solid;
    border-width: 1px 0px;
    border-color: lightgray;
    justify-content: space-between;
}